.content-container-div {
    display: none;
}

.content-container-div--active {
    display: block;
}

.background_tab_red {
    background-color: #f29191;
}

// .active-tabs {
//     background: '#f29191'
// }