.btnn {
    background-color: rgb(84, 195, 236);
}

.btnn:hover {
    background-color: rgb(9, 131, 225);
}

.button__Back__Disabled{

    background-color: dimgrey;
    color: linen;
    opacity: 1;
}

.button__Back__Disabled:hover{
    background-color: dimgrey
}

